* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  .mini {
    background-color: gainsboro;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 30%;
  }
  .left img {
    margin: 12px;
  }
  .left ul {
    display: flex;
    gap: 10px;
  
    list-style: none;
  }
  .left ul li:hover {
    color: brown;
    text-decoration: underline;
  }
  .right {
    display: flex;
    justify-content:right;
    align-items:center;
    gap: 20px;
    width: 30%;
    margin-right: 10px;
  }
  .right button{
    width: 100px;
    height: 30px;
    border: none;
    color:white;
    border-radius: 3.5px;
    background-color: rgb(170, 30, 30);
    box-shadow: 0 0 5px gainsboro;
  }
  .mbars{
    display: none;
  }

  @media(max-width:781px){
    .left{
        display: none;
    }
    .mbars{
        display: block;
    }

    
}
  